@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

body, input, select, textarea {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.65;
}

#flrp-brand {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

.flrp-navbar {
    height: 48px !important;
    background: #111111 !important;
    padding: 0 1.15rem !important;
}

.color-green-400 {
    color: #68D391;
}

.text-xl {
    font-size: 1.5rem;
}